{% extends 'base.html' %}

{% block title %}
Login page
{% endblock %}

{% block content %}
<body class="text-center">
    <br>
    <br>

    <form class="">
        <div class="container">
            {{ form.username.label()}}
            {{ form.username(class = "form-control", placeholder = "Enter Username")}}
            <br>
            {{ form.password.label()}}
            {{ form.password(class = "form-control", placeholder ="Enter Password")}}
            
            <br>

            <h6>
                Do not have an account?
            </h6>
              <a href="{{ url_for('register') }}", class="btn btn-sm btn-secondary" >REGISTER</a>
            <br>
            <br>
               {{ form.submit(class = "btn btn-lg btn-block btn-primary", placeholder="Log In")}}
        </div>
    </form>
</body>
{% endblock %}


